{% extends "base.layout.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {{ assets.pageCss|raw }}
{% endblock %}

  {% block body %}

    {% block content %}
        Hello {{ name }} your current lang is '{{ lang }}'
    {% endblock %}

  	{% block footer %}

    {% endblock %}

  {% endblock %}

{% block javascripts %}
	{{ parent() }}
  {{ assets.pageJs|raw }}
{% endblock %}