{% extends "src/layout/base.layout.twig" %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

  {% block body %}

    {% block content %}{% endblock %}

  	{% block footer %}

    {% endblock %}

  {% endblock %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}