<!DOCTYPE html>
<html lang="{{ Info['lang'] }}">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="theme-color" content="#1d2038">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ assets.root }}images/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ assets.root }}images/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ assets.root }}images/favicon/favicon-16x16.png">
        <link rel="manifest" href="{{ assets.root }}images/favicon/site.webmanifest">
        <link rel="mask-icon" href="{{ assets.root }}images/favicon/safari-pinned-tab.svg" color="#b89658">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">

        {% block meta %}
            <meta property="og:type" content="website" />
            <meta property="og:title" content="Website title"/>
            <meta property="og:description" content="Website title - website description"/>
            <meta property="og:url" content="https://website.be"/>
            <meta property="og:site_name" content="Website title"/>
            <meta name="description" content="Website title - website description" />            
        {% endblock %}
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet preload">
        <title>{% block title %}Website Tile{% endblock %}</title>
       
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ assets.root }}css/bootstrap.css" />
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}

        {% block javascripts %}
        	<script src="{{ assets.root }}js/libs/vue.js"></script>
            <script src="{{ assets.root }}js/libs/vue-resource.js"></script>
    {% endblock %}
    </body>
</html>